name: Build My HTTP Forwarder

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore Dependencies
      run: dotnet restore

    - name: Publish (Full Folder)
      run: dotnet publish -c Release -r win-x64 --self-contained true

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: HttpForwarder-FullPackage
        # 抓取整个目录，确保 System.Windows.Forms.dll 被包含
        path: bin/Release/net8.0-windows/win-x64/publish/
